@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';
@tailwind base;
@tailwind components;
@tailwind utilities;

.fi-ta-record input{
    position: relative;
}

.fi-ta-record input{
    position: absolute;
    top: 0px;
}